.prompt{
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 3px solid #c3f3c3;
   background-color: #b1f1d2;
}

#search-form {
   display: flex;
   align-items: center;
   margin: auto;
   width: 30%;
   padding: 50px;
   gap: 20px;
}

#search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.result-item {
    padding: 5px;
    border-bottom: 1px solid;
}

.result-count {
    float: right;
}